*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-granite: rgb(37 38 41);
  --color-nemo: rgb(255 74 17);
  --color-foam: rgb(255 255 255);
  --border-main: 4px;
  --spacing-main: 0.025em;
  --big-space: 16px;
  --mid-space: 10px;
  --small-space: 8px;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--color-granite);
}

h1 {
  text-align: center;
  color: var(--color-foam);
  line-height: 1.4;
  margin: 0;
  letter-spacing: var(--spacing-main);
  text-transform: uppercase;
  padding-block: var(--big-space);
}

h2 {
  letter-spacing: var(--spacing-main);
}

strong {
  color: var(--color-nemo);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: var(--big-space);
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: var(--mid-space);
  margin: 0;
  padding: var(--mid-space);
  background-color: var(--color-nemo);
  border-radius: var(--border-main);
}

figcaption {
  color: var(--color-foam);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--small-space) var(--big-space);
}

a {
  display: inline-block;
  font-size: smaller;
  padding: var(--small-space);
  border-radius: var(--border-main);
  background-color: var(--color-nemo);
  color: var(--color-foam);
}

a:hover,
a:focus-visible {
  background-color: var(--color-granite);
  text-decoration: none;
}

mark {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: var(--border-main);
  letter-spacing: var(--spacing-main);
}

::selection {
  background-color: var(--color-granite);
  color: var(--color-nemo);
}
